<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA0D644C21992AD40015BEAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA0D646221992AD50015BEAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA0D646D21992AD50015BEAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
